absl-py
glfw
kornia
termcolor
moviepy
ffmpeg
imageio
imageio-ffmpeg
omegaconf
hydra-core
hydra-submitit-launcher
submitit
pandas
patchelf
protobuf
tqdm
transforms3d
joblib
opencv-python
opencv-contrib-python
filelock
trimesh
open3d
setuptools
cython
dm-control
pillow
pyquaternion
tensordict-nightly
torchrl-nightly
wandb